html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.container {
  display: flex;
  border: 1px solid black;
  background: #eee;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  box-sizing: border-box;
}

.top, .bottom1, .bottom2, .middle {
  background: #ddd;
  padding: 0.5em;
  border: 1px solid;
  width: 100%;
  box-sizing: border-box;
}

.top, .bottom1, .bottom2 {
  display: flex;
  justify-content: center;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: row;
  background: grey;
  padding: 0;
}

.inner_middle,
.inner_right,
.inner_left {
  border: 1px solid black;
  display: flex;
}

.inner_middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inner_middle canvas {
  flex: 1;
  background: #444;
}

/* DON'T MODIFY ABOVE */

.inner_left {
  align-items: center;
  justify-content: center;
}

#trigger_level {
  -webkit-appearance: slider-vertical; /* Webkit */
  orient: vertical; /* Firefox */
  writing-mode: bt-lr; /* MS */
  width: 40px;
  height: 40%;
}

#timebase {
  padding: 1em 0;
}

.inner_right {
  flex-direction: column;
  justify-content: center;
}

canvas {
  width: 100%;
  min-width: 10px;
  min-height: 10px;
  padding: 0;
  margin: 0;
}

.bottom1 {
  align-content: stretch;
}

button {
  height: 40px;
  min-width: 40px;
}

.bottom1 button {
  width: 30%;
}

.bottom2 button {
  width: 30%;
  height: 40px;
}

input[type=text] {
  font-size: 12pt;
}

.top {
  font-family: arial;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .bottom1 {
    padding: auto 0;
  }

  button {
    height: 50px;
    font-weight: bold;
    font-size: 16pt;
    /*border-radius: 4px;
    background: #abf;
    border: solid 2px darkblue;
    transition: 0.1s;*/
  }

  button:active {
    /*background: #bcf;*/
  }

  #range_up, #range_down {
    width: 50px;
  }

  #timebase {
    padding: 1.5em 0;

  }

  #trigger_level {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .bottom1 button {
    margin: 0 0;
  }
}

@media (max-width: 700px) {
  .bottom1 {
    padding: 0;
  }
}
